@import "tailwindcss";


:root {
  --background: #171717;
  --foreground: #ffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .animate-fade {
    animation-name: fadeIn;
    animation-duration: var(--animate-duration, 1s);
    animation-timing-function: var(--animate-ease, linear);
    animation-fill-mode: forwards;
  }

  .animate-duration-1000 {
    --animate-duration: 1000ms;
  }
  .animate-duration-500 {
    --animate-duration: 500ms;
  }
  .animate-ease-in-out {
    --animate-ease: ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
